@charset "UTF-8";
/*variables*/
/*animaciones*/
@keyframes aparece {
  0% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes animacionUno {
  0% {
    border: #4d4dd6 3px solid; }
  50% {
    border: #47ffd7 3px solid; }
  100% {
    border: #4c4fed 3px solid; } }

@keyframes Texto {
  0% {
    font-size: 1em; }
  100% {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 15px; } }

@keyframes TextoResp {
  0% {
    font-size: 0.3em; }
  100% {
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 10px; } }

@keyframes logo {
  0% {
    font-size: 20px; }
  100% {
    font-size: 31px; } }

/*Estilo común a todas las secciones*/
* {
  margin: 0;
  padding: 0;
  font-family: calibri; }

body {
  width: 98vw;
  background-color: #520505; }

.contenedorPrincipal {
  margin: auto;
  width: 98%;
  max-width: 1050px;
  height: auto;
  background: linear-gradient(114deg, black 0%, #fd2d1d 50%, #fff700 100%);
  animation-name: aparece;
  animation-duration: 1s;
  box-sizing: border-box; }

header {
  background: linear-gradient(114deg, black 0%, #fd2d1d 50%, #fff700 100%);
  height: 135px;
  display: flex;
  align-content: center;
  box-sizing: border-box; }

.nav-item:hover {
  transform: scale(1.3, 1.3);
  transition: 1s; }

.menu .menu__logo:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.9;
  transition: 1s; }

.menu .menu__enlaces {
  margin-left: 35px;
  font-size: 2.08333em;
  color: #ffd900;
  font-weight: 800;
  text-decoration: none;
  text-shadow: black 1px 1px; }

.menu .menu__home {
  text-decoration: none;
  margin: 0 15px; }

.menu .menu__home:hover {
  transform: scale(1.1, 1.1);
  transition: 1s; }

.menu .menu__ovalo {
  transform: rotate(-15deg);
  animation-name: ovalo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  width: 150px;
  height: 65px;
  background-image: linear-gradient(yellow, orange);
  border-radius: 50%;
  box-shadow: black 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu .menu__text {
  font-size: 20px;
  color: red;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  padding: 0 5px;
  text-shadow: black 1px 1px;
  transform: rotate(15deg); }

.menu .menu__text--especial {
  font-size: 31px;
  text-shadow: black 2px 2px;
  animation-name: logo;
  animation-duration: 1s; }

.informacion {
  background-color: white; }
  .informacion .informacion__enlaces {
    display: flex;
    justify-content: space-evenly; }

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(114deg, black 0%, #fd2d1d 50%, #fff700 100%);
  height: auto;
  color: white;
  padding: 25px 15px 5px 15px;
  box-sizing: border-box; }
  .footer .footer__secciones {
    display: flex;
    justify-content: space-around; }
    .footer .footer__secciones li {
      list-style: none; }
      .footer .footer__secciones li a {
        color: white;
        font-size: 1.3em;
        text-shadow: turquoise 2px 2px; }
  .footer .footer__articulos {
    display: flex;
    flex-direction: column; }
    .footer .footer__articulos li {
      list-style: none;
      margin: 3px 0; }
      .footer .footer__articulos li a {
        font-size: 1em;
        margin-right: 25px;
        text-align: center;
        text-shadow: none; }
  .footer .footer__sucursales {
    width: 50%;
    text-align: center; }
    .footer .footer__sucursales li {
      list-style: none; }
  .footer .footer__contacto {
    width: 50%;
    text-align: center; }
    .footer .footer__contacto li {
      list-style: none; }
  .footer .footer__titulos {
    margin: auto;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; }
  .footer p {
    width: 100%;
    font-weight: 500;
    letter-spacing: 5px;
    padding-top: 20px;
    box-sizing: border-box; }
  .footer .footer__referencia {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer .footer__seinfeld {
    width: 100px;
    height: 40px; }

.titulos {
  text-align: center;
  width: 100%;
  height: 60px;
  font-size: 2.5em;
  padding: 0;
  background-color: linear-gradient(90deg, #ec7d00 0%, #fd211d 50%, #fcf645 100%);
  color: #fefeff;
  box-sizing: border-box;
  font-weight: 900;
  letter-spacing: 15px;
  text-shadow: black 2px 2px; }

.titulos--principales {
  font-size: 2.08333em;
  background-color: rgba(0, 0, 0, 0.329); }

.titulos--secundarios {
  font-size: 1.66667em;
  background-color: rgba(0, 0, 0, 0.329); }

.titulos--productos {
  font-size: 1.19048em;
  background-color: #581b08;
  letter-spacing: 5px;
  width: 300px;
  height: 30px;
  margin: 0; }

.titulos--carrusel {
  text-shadow: black 10px 3px 10px; }

.titulos--carruselDos {
  font-size: 1.47059em;
  text-shadow: black 2px 3px 2px; }

.estiloUno {
  background-color: rgba(66, 2, 2, 0.287); }

.estiloDos {
  background-color: rgba(243, 178, 0, 0.397);
  flex-direction: row-reverse; }

.flex {
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 100%; }

/*index.html*/
.portada {
  text-align: center;
  background-color: rgba(233, 27, 0, 0.609); }
  .portada .portada__foto {
    height: 540px;
    opacity: 80%; }

.flyer {
  display: flex;
  background-color: rgba(214, 79, 0, 0.445);
  height: 300px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #ffb813;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }
  .flyer .flyer__titulo {
    font-size: 2.5em;
    width: 90%;
    font-weight: 900; }
  .flyer .flyer__texto {
    font-size: 2.75em;
    width: 30%;
    font-weight: 700;
    text-shadow: black 10px 3px 10px; }
  .flyer .flyer__foto {
    height: 250px;
    width: 250px; }
  .flyer .flyer__enlace:hover {
    transform: scale(1.1, 1.1);
    transition: 1s; }

.flyer--colores {
  background-color: rgba(226, 110, 43, 0.52);
  color: white; }

/*el bloque secciones da estilos al contenido de las siguientes secciones: 
historia - poductos - ubicacion - contacto*/
.secciones {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  color: white;
  box-sizing: border-box;
  /*historia*/
  /*ubicacion*/
  /*contacto*/ }
  .secciones .secciones__texto {
    font-size: 1.38889em;
    text-align: justify; }
  .secciones .secciones__texto--destacada {
    margin: 30px; }
  .secciones .secciones__texto--ubicacion {
    text-align: center; }
  .secciones .secciones__texto--historia {
    width: 50%; }
  .secciones .secciones__mapa {
    width: 90%;
    height: 150px;
    margin: auto; }
  .secciones .secciones__contenedores {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly; }
  .secciones .secciones__contenedores--column {
    flex-direction: column; }
  .secciones .secciones__contenedores--historia {
    flex-wrap: wrap; }
  .secciones .secciones__foto {
    height: 200px;
    max-width: 300px;
    margin: auto; }
  .secciones .secciones__foto--historia {
    width: 30%;
    margin: 20px 50px;
    border-radius: 30%; }
  .secciones .secciones__foto--ubi {
    width: 90%;
    height: 150px; }
  .secciones .secciones__formulario {
    width: 80%;
    margin: auto;
    box-sizing: border-box; }
  .secciones .secciones__datos {
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 25px;
    padding: 10px; }

/*exclusivo historia*/
.cabeceraHistoria {
  width: 100%;
  height: 400px;
  background-image: url(../assets/quienes.png);
  background-size: cover; }

.kelVarsen {
  width: 25%;
  box-sizing: border-box;
  background-color: rgba(246, 49, 0, 0.445); }

.hePennypacker {
  width: 25%;
  background-color: rgba(251, 192, 0, 0.342);
  box-sizing: border-box; }

.artVandelay {
  width: 20%;
  box-sizing: border-box;
  background-color: rgba(246, 49, 0, 0.445); }

.christineNyhart {
  width: 30%;
  box-sizing: border-box;
  background-color: rgba(251, 192, 0, 0.342); }

.enlacesHistoria {
  text-decoration: none;
  font-size: 2.5em;
  flex-direction: column;
  justify-content: flex-end;
  color: #f0bb0c;
  text-shadow: black 2px 2px 5px;
  font-weight: 900; }

.enlacesHistoria--oposite {
  color: red; }

.enlacesHistoria:hover {
  color: red; }

/*exlusivo productos*/
.cabeceraProd {
  width: 100%;
  height: 580px;
  background-image: url(../assets/carrusel3.gif);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end; }

.producto {
  margin: 15px;
  border: solid 1px #5c0101;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.808);
  cursor: pointer; }
  .producto .producto__foto {
    width: 300px;
    height: 190px;
    margin-top: 10px; }

.producto:hover .descripcion {
  height: 130px;
  transition: 1.5s; }

.detalle {
  width: 35%;
  margin: 15px;
  border-radius: 5%;
  background-color: #581b08;
  border: solid 1px #5c0101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  box-sizing: border-box; }
  .detalle .detalle__texto {
    font-size: 2.5em;
    font-weight: 900; }
  .detalle .detalleTexto--segundo {
    font-size: 2.08333em; }
  .detalle .detalleTexto--tercero {
    font-size: 1.38889em; }
  .detalle .detalle__boton {
    width: 30%;
    font-weight: 900; }
  .detalle .detalle__boton:hover {
    transition: 1s;
    transform: scale(1.2, 1.2); }

.descripcion {
  color: #6e0000;
  overflow: hidden;
  width: 300px;
  height: 0;
  font-size: 1.04167em;
  font-weight: 700;
  box-sizing: border-box; }
  .descripcion p {
    text-align: justify;
    margin: 0 10px 15px 10px; }

.resumenProductos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 10px 50px 50px 50px;
  background-color: #520000;
  box-sizing: border-box; }

.resumenEnlaces {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.8;
  border: solid white 5px; }

.resumenEnlaces:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
  transition: 1s; }

/*exclusivo contacto*/
.secciones--contacto {
  height: auto;
  padding: 20px; }

/*exclusivo pagina 404*/
.headerError {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  height: 100px; }

.contenedorError {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedorError .imgError {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid white;
    background-image: url(../assets/error2.gif);
    background-size: cover; }
  .contenedorError .imgError:hover {
    background-image: url(../assets/error3.gif);
    transform: scale(1.2, 1.2);
    transition: 2s; }
  .contenedorError .numero {
    font-size: 15em;
    color: white;
    animation-name: aparece;
    animation-duration: 2s; }

.mensajeError p {
  font-size: 3em;
  color: white;
  text-align: center;
  animation-name: aparece;
  animation-duration: 3s;
  text-shadow: black 2px 2px 5px; }

.mensajeError--dos {
  display: flex;
  justify-content: center; }
  .mensajeError--dos img {
    width: 30%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid white 10px;
    box-shadow: black 3px 3px 5px; }
  .mensajeError--dos p {
    font-size: 2em;
    width: 40%; }
  .mensajeError--dos a:hover {
    transform: scale(1.1, 1.1);
    opacity: 75%;
    transition: 1s; }

/*responsive*/
@media screen and (max-width: 991px) {
  /*responsive todas las seccioens*/
  .menu__desplegable {
    background-color: rgba(212, 59, 39, 0.781);
    border-bottom: yellow 2px solid;
    text-align: center;
    margin-top: 61px;
    width: 90vw; }
  .footer {
    height: auto; }
    .footer .footer__contacto {
      width: 90%; }
    .footer .footer__sucursales {
      width: 90%; }
  /*pagina principal*/
  .flyer .flyer__texto {
    font-size: 1.66667em; }
  .flyer .flyer__titulo {
    font-size: 1.66667em; }
  .flyer .flyer__foto {
    width: 166.66667px;
    height: 166.66667px;
    margin: 5px; }
  .flyer .flyer__foto--enlaces a {
    font-size: 0.83333em; }
  .flyer--largo {
    height: auto;
    padding: 20px;
    box-sizing: border-box; }
  .portada .portada__foto {
    max-height: 270px; }
  .carousel-inner {
    height: 270px; }
  /*compartido en todas las secciones*/
  .titulos {
    font-size: 1.47059em;
    letter-spacing: 10px; }
  .titulos--principales {
    font-size: 1.38889em; }
  .titulos--secundarios {
    font-size: 1.31579em; }
  .titulos--historia {
    font-size: 1.31579em;
    width: 100%; }
  .titulos--productos {
    font-size: 1.31579em; }
  /*historia*/
  .secciones .secciones__texto {
    font-size: 1.25em; }
  .secciones .secciones__foto {
    margin-bottom: 15px; } }

@media screen and (max-width: 544px) {
  /*pagina principal*/
  .flyer .flyer__texto {
    font-size: 1.13636em; }
  .flyer .flyer__titulo {
    font-size: 1.47059em; }
  .flyer .flyer__foto {
    width: 147.05882px;
    height: 147.05882px; }
  /*compartido en todas las secciones*/
  .titulos {
    font-size: 1.25em;
    letter-spacing: 5px; }
  .titulos--principales {
    font-size: 1.13636em; }
  .titulos--secundarios {
    font-size: 1.08696em; }
  .titulos--productos {
    font-size: 1.08696em; }
  /*historia*/
  .secciones .secciones__texto {
    font-size: 1.13636em; }
  .secciones .secciones__foto {
    margin-bottom: 7px; }
  .activarError a {
    text-decoration: none;
    animation-name: TextoResp;
    animation-duration: 2.5s;
    animation-iteration-count: infinite; } }
