/*variables*/
$titulos: 2.5em;
$medidaFotos: 250px;
$tamanoPortada: 540px;

@mixin titulos($width, $heigth, $font-size, $padding, $background-color, $color, $box-sizing){
    width:$width;
    height: $heigth;
    font-size:$font-size;
    padding:$padding;
    background-color: $background-color;
    color:$color;
    box-sizing: $box-sizing;
}
/*animaciones*/
@keyframes aparece {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animacionUno {
    0%{
        border: rgb(77, 77, 214) 3px solid;
    }
    50%{
        border: rgb(71, 255, 215) 3px solid;
    }
    100%{
        border: rgb(76, 79, 237) 3px solid;
    }  
}
@keyframes Texto {
    0%{
        font-size: 1em;
    }
    100%{
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 15px;
    }  
}
@keyframes TextoResp {
    0%{
        font-size: 0.3em;
    }
    100%{
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 10px;
    }  
}
@keyframes logo{
    0%{
        font-size: 20px;
    }
    100%{
        font-size: 31px;
    }
}
/*Estilo común a todas las secciones*/
*{
    margin:0;
    padding:0;
    font-family: calibri;
}
body{
    width: 98vw;
    background-color: white;
}
.contenedorPrincipal{
    margin: auto;
    width: 98%;
    max-width: 1050px;
    height: auto;
    background: linear-gradient(114deg, rgba(0,0,0,1) 0%, rgba(253,45,29,1) 50%, rgba(255,247,0,1) 100%);
    animation-name: aparece;
    animation-duration: 1s;
    box-sizing: border-box;
}
header{
    background: linear-gradient(114deg, rgba(0,0,0,1) 0%, rgba(253,45,29,1) 50%, rgba(255,247,0,1) 100%);
    height: 135px;
    display: flex;
    align-content: center;
    box-sizing: border-box;
}
.nav-item:hover{
    transform: scale(1.3,1.3);
    transition: 1s;
}
.menu{
    .menu__logo:hover{
        transform: scale(1.1,1.1);
        opacity: 0.9;
        transition: 1s;
    }
    .menu__enlaces{
        margin-left: 35px;
        font-size: $titulos/1.2;
        color: rgb(255, 217, 0);
        font-weight: 800;
        text-decoration: none;
        text-shadow: rgb(0, 0, 0) 1px 1px;
    }
    .menu__home{
        text-decoration: none;
        margin: 0 15px;
    }
    .menu__home:hover{
        transform: scale(1.1,1.1);
        transition: 1s;
    }
    .menu__ovalo{
        transform: rotate(-15deg);
        animation-name: ovalo;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        width: 150px;
        height: 65px;
        background-image: linear-gradient(yellow, orange);
        border-radius: 50%;
        box-shadow: black 2px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu__text{
        font-size: 20px;
        color: red;
        text-align: center;
        font-weight: 800;
        text-decoration: none;
        padding: 0 5px;
        text-shadow: black 1px 1px;
        transform: rotate(15deg);   
    }
    .menu__text--especial{
        font-size: 31px;
        text-shadow: black 2px 2px;
        animation-name: logo;
        animation-duration: 1s;
    }
}
.informacion{
    background-color: white;
    .informacion__enlaces{
        display: flex;
        justify-content: space-evenly;
    }
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(114deg, rgba(0,0,0,1) 0%, rgba(253,45,29,1) 50%, rgba(255,247,0,1) 100%);
    height: auto;
    color: rgb(255, 255, 255);
    padding: 25px 15px 5px 15px;
    box-sizing: border-box;
    .footer__secciones{
        display: flex;
        justify-content: space-around;
        li{
            list-style: none;
            a{
                color: white;
                font-size: 1.3em;
                text-shadow: turquoise 2px 2px;
            }
        }
    }
    .footer__articulos{
        display: flex;
        flex-direction: column;
        li{
            list-style: none;
            margin: 3px 0;
            a{
                font-size: 1em;
                margin-right: 25px;
                text-align: center;
                text-shadow: none;
            }
        }
    }
    .footer__sucursales{
        width:50%;
        text-align: center;
        li{
            list-style: none;
        }
    }
    .footer__contacto{
        width: 50%;
        text-align: center;
        li{
            list-style: none;
        }
    }
    .footer__titulos{
        margin: auto;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    p{
        width: 100%;
        font-weight: 500;
        letter-spacing: 5px;
        padding-top: 20px;
        box-sizing: border-box;
    }
    .footer__referencia{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__seinfeld{
        width: 100px;
        height: 40px;
    }
}
.titulos{ 
    text-align: center;
    @include titulos (100%, auto, $titulos, 0, linear-gradient(90deg, rgba(236,125,0,1) 0%, rgba(253,33,29,1) 50%, rgba(252,246,69,1) 100%), rgb(254, 254, 255), border-box);
    font-weight: 900;
    letter-spacing: 15px;
    text-shadow: black 2px 2px;
}
.titulos--principales{
    font-size: $titulos/1.2;
    background-color: rgba(0, 0, 0, 0.329);
}
.titulos--secundarios{
    font-size: $titulos/1.5;
    background-color: rgba(0, 0, 0, 0.329);
}
.titulos--productos{
    font-size: $titulos/2.1;
    background-color: rgba(92, 1, 1, 0.692);
    letter-spacing: 5px;
    margin: 0;
}
.titulos--carrusel{
    text-shadow: rgb(0, 0, 0) 10px 3px 10px; 
}
.titulos--carruselDos{
    font-size: $titulos/1.7;
    text-shadow: rgb(0, 0, 0) 2px 3px 2px; 
}
/*index.html*/
.portada{
    text-align: center;
    background-color: rgba(233, 27, 0, 0.609);
    .portada__foto{
        height: $tamanoPortada;
        opacity: 80%;
        
    }
}
.flyer{
    display: flex;
    background-color: rgba(214, 79, 0, 0.445);
    height: 300px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: rgb(255, 184, 19);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    .flyer__titulo{
        font-size: $titulos;
        width: 90%;
        font-weight: 900;
    }
    .flyer__texto{
        font-size: $titulos*1.1;
        width: 30%;
        font-weight: 700;
        text-shadow: rgb(0, 0, 0) 10px 3px 10px; 
    }
    .flyer__foto{
        height: $medidaFotos;
        width: $medidaFotos;
    }
    .flyer__enlace:hover{
        transform: scale(1.1,1.1) ;
        transition: 1s;
    }
}
.flyer--colores{
    background-color: rgba(226, 110, 43, 0.52);
    color: white;
}
/*el bloque secciones da estilos al contenido de las siguientes secciones: 
historia - poductos - ubicacion - contacto*/
.secciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    .secciones__encabezado{
        width: 100%;
    }
    .secciones__productos{
        margin: 40px 0;
        height: 350px;
        width: 30%;
        padding: 5px;
        cursor: pointer;
        box-sizing: border-box;
    }
    .secciones__texto{
        font-size: $titulos/1.8;
        text-align: justify;
    }
    .secciones__texto--ubicacion{
        text-align: center;
    }
    .secciones__mapa{
        width: 90%;
        height: 150px;
        margin: auto;
    }
    /*productos*/
    .secciones__img{
        width: 90%;
    }
    .medidaProductos{
        width: 100%;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .descripcionProductos{
        color: rgb(255, 255, 255);
        overflow: hidden;
        height: 0;
        background-color: rgba(92, 1, 1, 0.692);
        box-sizing: border-box;
        p{
            text-align: justify;
        }
    }
    .medidaProductos:hover{
        opacity: 0.7;
        transition: 2s;
    }
    .secciones__productos:hover .descripcionProductos{
        height: 200px;
        padding-top: 20px;
        transition: 1s;
    }

    /*historia*/
    .secciones__foto{
        height: 200px;
        max-width: 300px;
        margin: auto;
    }
    .secciones__foto--historia{
        max-width: 300px;
    }
    /*ubicacion*/
    .secciones__foto--ubi{
        width: 90%;
        height: 150px;
    }
    /*contacto*/
    .secciones__formulario{
        width: 80%;
        margin: auto;
        box-sizing: border-box;
    }
    .secciones__datos{
        background-color: rgba(0, 0, 0, 0.623);
        border-radius: 25px;
        padding: 10px;
    }
}

/*exclusivo contacto*/
.secciones--contacto{
    height: auto;
    padding: 20px;
}
/*exclusivo pagina 404*/
.headerError{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    height: 100px;
}
.contenedorError{
    display: flex;
    justify-content: center;
    align-items: center; 
    .imgError{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 20px solid white;
        background-image: url(../assets/error2.gif);
        background-size: cover;
    }
    .imgError:hover{
        background-image: url(../assets/error3.gif);
        transform: scale(1.2,1.2);
        transition: 2s;
    }
    .numero{
        font-size: 15em;
        color: white;
        animation-name: aparece;
        animation-duration: 2s;
    }
}
.mensajeError{
    p{
        font-size: 3em;
        color: white;
        text-align: center;
        animation-name: aparece;
        animation-duration: 3s;
        text-shadow: black 2px 2px 5px;
    }
}
.mensajeError--dos{
    display: flex;
    justify-content: center;
    img{
        width: 30%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: solid rgb(255, 255, 255) 10px;
        box-shadow: black 3px 3px 5px;
    }
    p{
        font-size: 2em;
        width: 40%;
    }
    a:hover{
        transform: scale(1.1,1.1);
        opacity: 75%;
        transition: 1s;
    }
}
/*responsive*/
@media screen and (max-width: 991px) { 
    /*responsive todas las seccioens*/
    .menu__desplegable{
        background-color: rgba(212, 59, 39, 0.781);
        border-bottom: yellow 2px solid;
        text-align: center;
        margin-top: 61px;
        width: 90vw;
    }
    .footer{
        height: auto;
        .footer__contacto{
            width: 90%;
        }
        .footer__sucursales{
            width: 90%;
        }
    }
    /*pagina principal*/
    .flyer{
        .flyer__texto{
            font-size: $titulos/1.5;
        }
        .flyer__titulo{
            font-size: $titulos/1.5;
        }
        .flyer__foto{
            width: $medidaFotos/1.5;
            height: $medidaFotos/1.5;
            margin: 5px;
        }
        .flyer__foto--enlaces{
            a{
                font-size: $titulos/3;
            }
        }
    }
    .flyer--largo{
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .portada{
        .portada__foto {
            max-height: $tamanoPortada/2;
        }
    }
    .carousel-inner{
        height: $tamanoPortada/2;
    }
    /*compartido en todas las secciones*/
    .titulos{ 
        font-size: $titulos/1.7;
        letter-spacing: 10px;
    }
    .titulos--principales{
        font-size: $titulos/1.8;
    }
    .titulos--secundarios{
        font-size: $titulos/1.9;
    }
    .titulos--productos{
        font-size: $titulos/1.9;
    }
    /*historia*/
    .secciones{
        .secciones__texto{
            font-size: $titulos/2;
        }
        .secciones__foto{
            margin-bottom: 15px;
        }
    }
}
@media screen and (max-width: 544px) {
    /*pagina principal*/
    .flyer{
        .flyer__texto{
            font-size: $titulos/2.2;
        }
        .flyer__titulo{
            font-size: $titulos/1.7;
        }
        .flyer__foto{
            width: $medidaFotos/1.7;
            height: $medidaFotos/1.7;
        }
    }
    /*compartido en todas las secciones*/
    .titulos{ 
        font-size: $titulos/2;
        letter-spacing: 5px;
    }
    .titulos--principales{
        font-size: $titulos/2.2;
    }
    .titulos--secundarios{
        font-size: $titulos/2.3;
    }
    .titulos--productos{
        font-size: $titulos/2.3;
    }
    /*historia*/
    .secciones{
        .secciones__texto{
            font-size: $titulos/2.2;
        }
        .secciones__foto{
            margin-bottom: 7px;
        }
    }
    .activarError{
        a{
            text-decoration: none;
            animation-name: TextoResp;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
        }
    }
}