/*variables*/
$titulos: 2.2em;
$medidaFotos: 250px;
$tamanoPortada: 450px;

@mixin titulos($width, $heigth, $font-size, $padding, $background-color, $color, $box-sizing){
    width:$width;
    height: $heigth;
    font-size:$font-size;
    padding:$padding;
    background-color: $background-color;
    color:$color;
    box-sizing: $box-sizing;
}
/*animaciones*/
@keyframes aparece {
    0%{
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes animacionUno {
    0%{
        border: rgb(77, 77, 214) 3px solid;
    }
    50%{
        border: rgb(71, 255, 215) 3px solid;
    }
    100%{
        border: rgb(76, 79, 237) 3px solid;
    }  
}
@keyframes Texto {
    0%{
        font-size: 1em;
    }
    100%{
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 15px;
    }  
}
@keyframes TextoResp {
    0%{
        font-size: 0.3em;
    }
    100%{
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 10px;
    }  
}
@keyframes logo{
    0%{
        font-size: 20px;
    }
    100%{
        font-size: 31px;
    }
}
/*Estilo común a todas las secciones*/
*{
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
}
body{
    width: 100%;
    background-color: rgb(235, 88, 3);
}
.contenedorPrincipal{
    margin: auto;
    width: 100%;
    max-width: 1150px;
    height: auto;
    background: rgb(152,11,11);
    background: linear-gradient(45deg, rgba(152,11,11,1) 0%, rgba(255,94,0,1) 30%, rgba(255,166,0,1) 70%, rgba(255,0,0,1) 100%);
    animation-name: aparece;
    animation-duration: 1s;
    box-sizing: border-box;
}
.enfasisTexto{
    font-weight: 800;
    text-decoration: underline 2px;
}
.opposite{
    background-color: rgba(255, 251, 0, 0.787);
}
header{
    background: rgb(152,11,11);
    background: linear-gradient(45deg, rgba(152,11,11,1) 0%, rgba(255,94,0,1) 30%, rgba(255,166,0,1) 70%, rgba(255,0,0,1) 100%);
    height: 135px;
    display: flex;
    align-content: center;
    box-sizing: border-box;
}
.nav-item:hover{
    transform: scale(1.3,1.3);
    transition: 1s;
}
.menu{
    .menu__logo:hover{
        transform: scale(1.1,1.1);
        opacity: 0.9;
        transition: 1s;
    }
    .menu__enlaces{
        margin-left: 37px;
        font-size: $titulos/1.4;
        color: rgb(255, 217, 0);
        font-weight: 800;
        text-decoration: none;
        text-shadow: rgb(0, 0, 0) 1px 1px;
        font-style: italic;
    }
    .menu__home{
        text-decoration: none;
        margin: 0 15px;
    }
    .menu__home:hover{
        transform: scale(1.1,1.1);
        transition: 1s;
    }
    .menu__ovalo{
        transform: rotate(-15deg);
        animation-name: ovalo;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        width: 150px;
        height: 65px;
        background-image: linear-gradient(yellow, orange);
        border-radius: 50%;
        box-shadow: black 2px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu__text{
        font-size: 18px;
        font-style: italic;
        color: red;
        text-align: center;
        font-weight: 800;
        text-decoration: none;
        padding: 0 5px;
        text-shadow: black 1px 1px;
        transform: rotate(15deg);   
    }
    .menu__text--especial{
        font-size: 31px;
        text-shadow: black 2px 2px;
        animation-name: logo;
        animation-duration: 1s;
    }
}
.informacion{
    background-color: white;
    .informacion__enlaces{
        display: flex;
        justify-content: space-evenly;
    }
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(152,11,11);
    background: linear-gradient(45deg, rgba(152,11,11,1) 0%, rgba(255,94,0,1) 30%, rgba(255,166,0,1) 70%, rgba(255,0,0,1) 100%);
    height: auto;
    color: rgb(0, 0, 0);
    padding: 25px 15px 5px 15px;
    box-sizing: border-box;
    li{
        margin-top: 7px;
        font-size: 0.9em;
    }
    .footer__secciones{
        display: flex;
        justify-content: space-around;
    }
    .footer__articulos{
        display: flex;
        flex-direction: column;
    }
    .footer__sucursales{
        width:50%;
        text-align: center;
        li{
            list-style: none;
        }
    }
    .footer__contacto{
        width: 50%;
        text-align: center;
        li{
            list-style: none;
        }
    }
    .footer__titulos{
        margin: auto;
        font-size: 1.3em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
    p{
        width: 100%;
        font-weight: 500;
        letter-spacing: 5px;
        padding-top: 20px;
        box-sizing: border-box;
    }
    .footer__referencia{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__redes{
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    .footer__seinfeld{
        width: 100px;
        height: 40px;
    }
    .footer__texto{
        font-size: $titulos/2;
        font-weight: 700;
    }
}
.titulos{ 
    text-align: center;
    @include titulos (100%, 60px, $titulos, 15px, linear-gradient(90deg, rgba(236,125,0,1) 0%, rgba(253,33,29,1) 50%, rgba(252,246,69,1) 100%), rgb(254, 254, 255), border-box);
    font-weight: 900;
    letter-spacing: 15px;
    text-shadow: black 2px 2px;
    font-style: italic;
}
.titulos--principales{
    font-size: $titulos/1.2;
}
.titulos--secundarios{
    font-size: $titulos/1.2;
    color: rgb(187, 22, 0);
}
.titulos--productos{
    font-size: $titulos/2.1;
    background-color: rgb(88, 27, 8);
    letter-spacing: 5px;
    width: 300px;
    height: 30px;
    margin: 0;
}
.titulos--carrusel{
    text-shadow: rgb(0, 0, 0) 10px 3px 10px; 
}
.titulos--carruselDos{
    font-size: $titulos/1.7;
    text-shadow: rgb(0, 0, 0) 2px 3px 2px; 
}

.estiloUno{
    background-color: rgba(66, 2, 2, 0.287);
}
.estiloDos{
    background-color: rgba(243, 178, 0, 0.397);
    flex-direction: row-reverse;
}
.flex{
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 100%;
}
/*index.html*/
.presentacion{
    height: auto;
    padding: 20px 30px 0 30px;
    .presentacion__texto{
        color: rgb(187, 22, 0);
        font-size: $titulos/1.6;
        text-align: justify;
    }
}
.portada{
    text-align: center;
    background: radial-gradient(circle, rgba(255,31,0,1) 0%, rgba(255,148,0,1) 39%, rgba(255,255,255,1) 100%);
    .portada__foto{
        height: $tamanoPortada;
        opacity: 80%;
        
    }
}
.flyer{
    display: flex;
    background-color: rgba(214, 79, 0, 0.445);
    height: 300px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: rgb(255, 184, 19);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    .flyer__titulo{
        font-size: $titulos;
        width: 90%;
        font-weight: 900;
    }
    .flyer__texto{
        font-size: $titulos*1.1;
        width: 30%;
        font-weight: 700;
        text-shadow: rgb(0, 0, 0) 10px 3px 10px; 
    }
    .flyer__foto{
        height: $medidaFotos;
        width: $medidaFotos;
    }
    .flyer__enlace:hover{
        transform: scale(1.1,1.1) ;
        transition: 1s;
    }
    
}
.flyer--colores{
    background-color: rgba(226, 110, 43, 0.52);
    color: white;
}
/*el bloque secciones da estilos al contenido de las siguientes secciones: 
historia - poductos - ubicacion - contacto*/
.secciones{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    .secciones__texto{
        font-size: $titulos/1.8;
        text-align: justify;
    }
    .secciones__texto--destacada{
        margin: 30px;
    }
    .secciones__texto--ubicacion{
        text-align: center;
    }
    .secciones__texto--historia{
        width: 40%;
        color: rgb(88, 6, 6);
    }
    .secciones__texto--sucursales{
        list-style: none;
        color: rgb(88, 6, 6);
    }
    .secciones__texto--envios{
        font-size: $titulos/1.4;
        width: 30%;
        text-shadow: black 2px 2px 5px;
        color: rgb(255, 255, 255);
        margin:30px;
    }
    .secciones__sucursales{
        width: 40%;
    }
    .secciones__contenedores{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-top: 2px solid rgb(235, 88, 3);
    }
    .secciones__contenedores--column{
        flex-direction: column;
    }
    .secciones__contenedores--historia{
        flex-wrap: wrap;
        padding-top: 25px;
    }
    .secciones__contenedores--productos{
        height: 550px;
        flex-wrap: wrap;
        padding: 50px;
        box-sizing: border-box;
        border-top: 2px solid rgb(235, 88, 3);
    }
    /*productos*/
    .zoom:hover{
        transform: scale(1.3,1.3);
        transition: 2s;
        cursor: zoom-in;
    }
    /*historia*/
    .secciones__foto{
        height: 210px;
        margin: auto;
    }
    .secciones__foto--historia{
        width: 30%;
        margin: 20px 50px;
        border-radius: 30%;
    }
    /*ubicacion*/
    .secciones__foto--ubi{
        width: 90%;
        height: 150px;
    }
    /*contacto*/
    .secciones__formulario{
        width: 50%;
        margin: auto;
        box-sizing: border-box;
    }
    .secciones__datos{
        background-color: rgba(0, 0, 0, 0.623);
        border-radius: 25px;
        padding: 10px;
    }
}
/*exclusivo historia*/
.cabeceraHistoria{
    width: 100%;
    height: 530px;
    background-image: url(../assets/quien.JPG);
    background-size: cover;
}
.kelVarsen{
    width: 22%;
    
    box-sizing: border-box;
    background-color: rgba(255, 102, 0, 0.65);
    
}
.hePennypacker{
    width: 26%;
    background-color: rgba(251, 56, 7, 0.651);
    
    box-sizing: border-box;
}
.artVandelay{
    width: 24%;
    box-sizing: border-box;
    background-color: rgba(255, 102, 0, 0.65);
}
.christineNyhart{
    width: 29%;
    
    box-sizing: border-box;
    background-color: rgba(251, 56, 7, 0.651);
}
.enlacesHistoria{
    display: flex;
    text-decoration: none;
    font-size: $titulos;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: rgb(240, 187, 12);
    text-shadow: rgb(0, 0, 0) 2px 2px 5px;
    font-weight: 900;
    height: 530px;
}

.enlacesHistoria:hover{
    color: red;
    background-color: rgba(255, 210, 184, 0.322);
    transition: 1s;
}

/*exlusivo productos*/
.cabeceraProd{
    width: 100%;
    height: 580px;
    background-image: (url(../assets/carrusel3.gif));
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.producto{
    margin: 15px;
    border: solid 1px rgb(92, 1, 1);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.808);
    cursor: pointer;
    .producto__foto{
        width: 300px;
        height: 190px;
        margin-top: 10px;
    }
}
.producto:hover .descripcion{
    height: 130px;
    transition: 1.5s;
}
.detalle{
    width: 35%;
    margin: 15px;
    border-radius: 5%;
    background-color: rgb(88, 27, 8);
    border: solid 1px rgb(92, 1, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    box-sizing: border-box;
    .detalle__texto{
        font-size: $titulos;
        font-weight: 900;
    }
    .detalleTexto--segundo{
        font-size: $titulos/1.2;
    }
    .detalleTexto--tercero{
        font-size: $titulos/1.8;
    }
    .detalle__boton{
        width: auto;
        font-weight: 900;
    }
    .detalle__boton:hover{
        transition: 1s;
        transform: scale(1.2,1.2);
    }
}
.descripcion{
    color: rgb(110, 0, 0);
    overflow: hidden;
    width: 300px;
    height: 0;
    font-size: $titulos/2.4;
    font-weight: 700;
    box-sizing: border-box;
    p{
        text-align: justify;
        margin: 0 10px 15px 10px;
    }
}
.resumenProductos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding: 10px 50px;
    background: rgb(152,11,11);
    background: linear-gradient(45deg, rgba(152,11,11,1) 0%, rgba(255,94,0,1) 30%, rgba(255,166,0,1) 70%, rgba(255,0,0,1) 100%);
    box-sizing: border-box;
}
.resumenEnlaces{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.8;
    border: solid rgb(255, 255, 255) 5px;
    filter: grayscale(100%)
}
.resumenEnlaces:hover{
    opacity: 1;
    transform: scale(1.2,1.2);
    transition: 1s;
    filter: grayscale(0%);
}

/*exclusivo contacto*/
.secciones--contacto{
    height: auto;
    padding-bottom: 20px;
}
.estiloBotones{
    width: 140px;
    height: 60px;
    box-shadow: brown 2px 5px 10px;
    color: rgb(255, 0, 0);
    font-size: $titulos/1.8;
    text-shadow: black 1px 2px;
    font-weight: 900;
    border-radius: 50%;
    background-image: linear-gradient(yellow, orange);
    margin: 10px;
    box-sizing: border-box;
}
/*exclusivo pagina 404*/
.headerError{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    height: 100px;
}
.contenedorError{
    display: flex;
    justify-content: center;
    align-items: center; 
    .imgError{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 20px solid white;
        background-image: url(../assets/error2.gif);
        background-size: cover;
    }
    .imgError:hover{
        background-image: url(../assets/error3.gif);
        transform: scale(1.2,1.2);
        transition: 2s;
    }
    .numero{
        font-size: 15em;
        color: white;
        animation-name: aparece;
        animation-duration: 2s;
    }
}
.mensajeError{
    p{
        font-size: 3em;
        color: white;
        text-align: center;
        animation-name: aparece;
        animation-duration: 3s;
        text-shadow: black 2px 2px 5px;
    }
}
.mensajeError--dos{
    display: flex;
    justify-content: center;
    img{
        width: 30%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: solid rgb(255, 255, 255) 10px;
        box-shadow: black 3px 3px 5px;
    }
    p{
        font-size: 2em;
        width: 40%;
    }
    a:hover{
        transform: scale(1.1,1.1);
        opacity: 75%;
        transition: 1s;
    }
}
/*responsive*/
@media screen and (max-width: 991px) { 
    /*responsive todas las seccioens*/
    .menu__desplegable{
        background-color: rgba(212, 59, 39, 0.781);
        border-bottom: yellow 2px solid;
        text-align: center;
        margin-top: 61px;
        width: 90vw;
    }
    .footer{
        height: auto;
        .footer__contacto{
            width: 90%;
        }
        .footer__sucursales{
            width: 90%;
        }
    }
    /*pagina principal*/
    .flyer{
        .flyer__texto{
            font-size: $titulos/1.3;
        }
        .flyer__titulo{
            font-size: $titulos/1.3;
        }
        .flyer__foto{
            width: $medidaFotos/1.5;
            height: $medidaFotos/1.5;
            margin: 5px;
        }
        .flyer__foto--enlaces{
            a{
                font-size: $titulos/3;
            }
        }
    }
    .flyer--largo{
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .portada{
        .portada__foto {
            max-height: $tamanoPortada/2;
            
        }
    }
    .carousel-inner{
        height: $tamanoPortada/2;
    }
    /*compartido en todas las secciones*/
    .titulos{ 
        font-size: $titulos/1.7;
        letter-spacing: 10px;
    }
    .titulos--principales{
        font-size: $titulos/1.8;
    }
    .titulos--secundarios{
        font-size: $titulos/1.5;
    }
    .titulos--historia{
        font-size: $titulos/1.9;
        width: 100%;
    }
    .titulos--productos{
        font-size: $titulos/1.9;
    }
    /*historia*/
    .secciones{
        .secciones__texto{
            font-size: $titulos/2;
        }
        .secciones__foto{
            margin-bottom: 15px;
        }
        /*contacto*/
        .secciones__formulario{
            width: 80%;
        }
    }
    .enlacesHistoria{
        font-size: $titulos/1.5;
    }
}

@media screen and (max-width: 800px){
    .contenedorPrincipal{
        width: 100%;
    }
    .presentacion{
        height: auto;
        padding: 10px;
        .presentacion__texto{
            font-size: $titulos/2;
        }
    }
    .secciones{
        .secciones__contenedores{
            flex-direction: column;
            justify-content: center;
            height: auto;
            align-items: none;
        }
        .secciones__foto{
            width: 60% ;
        }
        .secciones__texto{
            width: 90% ;
        }
        .secciones__sucursales{
            margin-top: 25px;
            width: 90%;
        }
    }
    .detalle{
        width: 60%;
    }
    .resumenEnlaces{
        width: 60px;
        height: 60px;
        border: 2px solid white;
    }
    .cabeceraHistoria{
        width: 100%;
        height: 400px;
 
       
    }
    .kelVarsen{
        width: 100%;
    }
    .hePennypacker{
        width: 100%;
    }
    .artVandelay{
        width: 100%;
        box-sizing: border-box;
        background-color: rgba(255, 102, 0, 0.65);
    }
    .christineNyhart{
        width: 100%;
        
        box-sizing: border-box;
        background-color: rgba(251, 56, 7, 0.651);
    }
    .enlacesHistoria{
      
        height: 100px;
    }
    .flex{
        flex-direction: column;
        justify-content: center;
    }
    
    
}






@media screen and (max-width: 544px) {
    
    /*compartido en todas las secciones*/
    .titulos{ 
        font-size: $titulos/2;
        letter-spacing: 5px;
    }
    .titulos--principales{
        font-size: $titulos/2.2;
    }
  
    .titulos--productos{
        font-size: $titulos/2.3;
    }
    /*historia*/
    .secciones{
        .secciones__texto{
            font-size: $titulos/2.2;
        }
        .secciones__foto{
            margin-bottom: 7px;
        }
        .secciones__formulario{
            width: 98%;
        }
        .secciones__contenedores--productos{
            height: auto;
            padding: 10px;
        }
    
    }
    .activarError{
        a{
            text-decoration: none;
            animation-name: TextoResp;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
        }
    }
    /*productos*/
    


    .detalle{
        width: 90%;
    }
    .resumenEnlaces{
        margin: 5px 30px;
        
    }
    .cabeceraProd{
        height: 400px;
        background-size: contain;
        background-position:top;
  
    }
    
}
@media screen and (max-width: 460px) {
    .resumenEnlaces{
        margin: 3px 20px;
    }
}
@media screen and (max-width: 405px) {
    .resumenEnlaces{
        width: 50px;
        height: 50px;
        margin: 3px 13px;
    }
}